/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #03a9f4;
  position: fixed;
  z-index: 10001;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
}

/* Fancy blur effect */
#nprogress .peg {
  position: absolute;
  width: 100px;
  height: 100%;
  right: 0px;
  box-shadow: 0 0 10px #ffea00, 0 0 5px #ffea00;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  position: fixed;
  z-index: 1032;
  right: 15px;
  top: 80px;
}

#nprogress .spinner-icon {
  border: solid 2px transparent;
  border-bottom-color: #6055fb;
  border-right-color: #8103f4;
  border-left-color: #8103f4;
  border-top-color: #6055fb;
  box-sizing: border-box;
  border-radius: 50%;
  height: 20px;
  width: 20px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes gradtranslate {
    0%   { background-position: left bottom; }
    100% { background-position: -400px bottom; }
}
@-moz-keyframes gradtranslate {
    0%   { background-position: left bottom; }
    100% { background-position: -400px bottom; }
}
@-o-keyframes gradtranslate {
    0%   { background-position: left bottom; }
    100% { background-position: -400px bottom; }
}
@keyframes gradtranslate {
    0%   { background-position: left bottom; }
    100% { background-position: -400px bottom; }
}